@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

@font-face {
    font-family: BreatheFire;
    src: url("./assets/fonts/BreatheFire.otf") format("opentype");
}

@font-face {
    font-family: FenwickWood;
    src: url("./assets/fonts/FenwickWoodtype.ttf") format('truetype')
}

body 
{
    overflow-x: hidden;
    overflow-y: hidden;
}